<h1>Клиенты</h1>


<div class="form-group">
  <%= link_to raw("#{fa_icon 'user-plus'} Новый клиент"), new_client_path,  class: 'btn btn-primary ', data: { modal: true } %>
</div>



<table id="clients-datatable" class="table table-striped table-bordered" data-source="<%= clients_path(format: :json) %>">
  <thead>
  <tr>
    <th>ID</th>
    <th>ФИО</th>
    <th>Телефон</th>
    <th>E-mail</th>
    <th>Добавлен</th>
  </tr>
  </thead>
  <tbody>
  </tbody>
</table>

