
<h2>chart</h2>

<div id="chartContainer" style="height: 370px; width: 100%;"></div>


<script>

  window.onload = function ()
  {


      var chart_data0 = [];

      var chart0 = new CanvasJS.Chart("chartContainer", {
          animationEnabled: true,
          title: {
              text: "Daily High Temperature at Different Beaches"
          },
          axisX: {
              valueFormatString: "DD MMM,YY"
          },
          axisY: {
              title: "Count",
              includeZero: false,
          },
          legend: {
              cursor: "pointer",
              fontSize: 16,
              itemclick: toggleDataSeries
          },
          toolTip: {
              shared: true
          },
          data: [{
              name: "Myrtle Beach",
              type: "spline",
              showInLegend: true,
              dataPoints: chart_data0
          }]
      });


       $.ajax({
          type: 'POST',
          url: "/home/chart_0",
          data: {id: 1},
          dataType: "json",
          success:function(data)
          {
              addData(data,chart_data0);
              chart0.render();
          },
          error:function(data)
          {
              console.log('ERROR');
          }
      });



  }

  function addData(data,result)
  {
      for (var i = 0; i < data.length; i++) {
          result.push({
              x: new Date(data[i].x),
              y: data[i].y
          });
      }
  }



  function toggleDataSeries(e)
  {
      if (typeof(e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
          e.dataSeries.visible = false;
      }
      else{
          e.dataSeries.visible = true;
      }
      chart0.render();
  }

</script>

