<tr class="nested-fields">
  <td>
    <%= link_to_remove_association "remove client", f, class: 'btn btn-primary btn-xs' %>
  </td>

  <td>
    <%= f.input_field :id, :as => :select, class: 'select2', selected: @tour.new_record? ? ['Select user'] : @tour.clients[f.index.to_i].id,
                      collection: @tour.new_record? ? ['Select client'] : { :"#{@tour.clients[f.index.to_i].name} #{@tour.clients[f.index.to_i].surname} #{@tour.clients[f.index.to_i].pantronymic}" => @tour.clients[f.index.to_i].id },
                      style: 'width: 250px;' %>
  </td>

</tr>