<h2>Туры</h2>


<div class="form-group">
  <%= link_to raw("#{fa_icon 'suitcase'} Новый тур"), new_tour_path,  class: 'btn btn-primary' %>
</div>


<table id="tours-datatable" class="table table-striped table-bordered" data-source="<%= tours_path(format: :json) %>">
  <thead>
  <tr>
    <th>ID</th>
    <th>Покупатель</th>
    <th>Manager</th>
    <th>Tour operator</th>
    <th>Appeal</th>
    <th>Advertising source</th>
    <th>Currency</th>
    <th>Passport type</th>
    <th>Office city</th>
    <th>Agency represented</th>
    <th>Number person</th>
    <th>Tour country</th>
    <th>Tour city</th>
    <th>Date start</th>
    <th>Date end</th>
    <th>Hotel name</th>
    <th>Hotel start</th>
    <th>Hotel end</th>
    <th>Room category</th>
    <th>Type room</th>
    <th>Type food</th>
    <th>Route there</th>
    <th>Route back</th>
    <th>Flight number</th>
    <th>Fly type</th>
    <th>Type of transport there</th>
    <th>Type of transport back</th>
    <th>Flight type there</th>
    <th>Flight type back</th>
    <th>Flight back class</th>
    <th>Number flight back</th>
    <th>Transfer route</th>
    <th>Transfer type</th>
    <th>Excursion program</th>
    <th>Additional service</th>
    <th>Cost tour</th>
    <th>Prepaid</th>
    <th>Voluntary insurance</th>
    <th>Prihodnik date</th>
    <th>Prihodnik prepaid</th>
    <th colspan="3"></th>
  </tr>
  </thead>
  <tbody>
  </tbody>
</table>





