<%# add navigation links to this file %>
<li><%= link_to "Tours", tours_path %></li>

<li>
    <a type="button" class="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Clients
    <div class="dropdown-menu" style="background: black">
      <%= link_to "Клиенты", clients_path, :class => 'dropdown-item btn btn-sm' %>
      <%= link_to "Создать клиента", new_client_path, :class => 'dropdown-item btn btn-sm' %>
    </div>
</li>
